<label for="">Server Name</label>
<!-- <input type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)"> -->
<!-- $event is a reserved variable that we have access to in our template file while using event binding.
    It contains some information about the event fired.
    you can get that event.target.values
-->



<input type="text" 
    class="form-control" 
    [(ngModel)] = "serverName">

<!-- <p>{{serverName}}</p> -->

<!-- ngModel is a directive. 
    To be able to use it make sure, you've imported the FormsModules in imports array of AppModule file. 
-->

<button 
    class="btn btn-primary"
    [disabled]='!allowNewServer'
    (click)="onCreateServer()"
>Add Server</button>
<!-- (click)='this.serverCreationStatus = "Server was created."' -->
<!-- (click)="onCreateServer()" -->
<hr>
<p><b>String Interpolation </b>{{allowNewServer}}</p>
<p><b>Property Binding </b><span [innerText]="allowNewServer"></span></p>

<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
    <p>
        No Server was created!
    </p>
</ng-template>
<hr>
<!-- <app-server></app-server>
<app-server></app-server>
<app-server></app-server> -->
<app-server *ngFor="let server of servers; let i = index"></app-server>
<!-- 
    Value for *ngIf directive is any expression that retuns a boolean value true or false within double quotes. 

    If you inspect the page, you'll find that the p tag with ngIf was not there at first. It got inserted in DOM once the button is clicked.
    And Angular maintains a mark or hook in DOM to know where it have to insert the p tag when serverCreated changes to true in ngIf.

    The * in ngIf directive means that it's a structural directive; which means it changes the structure of our DOM.
    It either adds this element or it doesn't add it.

    We use this directive as an attribute.
-->

<!--bindings={ hook in DOM
  "ng-reflect-ng-if": "false"
}-->

<!-- 
    we can choose what to do in else of ngIf by putting an local reference in DOM.

    Local references are a mark/hook in DOM. We add local references through ng-template tag.

    We named the local reference as 'noServer'
 -->

<!--
    If a HTML element has a event onclick, in Angular that will be click.
    Remove the 'on' from beginning.

    For most of the event this rule work.

    In event binding you can call a method or can write inline code also.
-->

<!--
    String Interpolation vs Property Binding

    If you want to output somenthing to DOM, use string interpolation

    If you want to set property of a (HTML element, directive or custom component ) dynamically, use property binding.

-->

<!--
    To bind allowNewServer with the button element, we're using property binding.

    To achieve property binding, we need to wrap *prop with [], which tells Angular we want to dynamicallybind some poperty.

    When browser parses an HTML document during CRITICAL RENDERING PATH, it converts each HTML element to an element of Document Object Model. 
    So this DOMElemnt has a lot of properties from which many can't even set through our HTML code. These all properties you can find IF you console a HTML element and Check it's __proto__ object

    But for button elemtnt, we can set the disabled property from HTML code.
        e.g: <button disabled>Add Server </button> -- Disabled Button
            <button> Add Server </button> Not disabled button

    But here in Angular, when we use property binding, it's not same as above example.
    When we wrap any HTMLElementProp within [], we're directly binding the value(allowNewServer) to the native "disabled" property of DOMButton element, not the HTML we write HTML file

    Different HTML elememt seeks different type of values,
    disabled property of button seeks a boolean value. Other properties may seek a string or any other data type value.
    So, the values of the property depends on the property itself.

    For disabled property, the value should be anything(any expression, ternary operator, function call) that resolves to a boolean.

    So what Angular does here in property binding is:
    When the allowNewServer changes, Angular interacts with the DOM at runtime and changes it(It accesses the Button element from DOM, and accesses the disabled property and changes it's value.) which makes the button enabled again.

    Besides binding to HTML element properties,
    we can also bind to properties of directives or properties of custom element created by us as well.
-->

