<p [ngStyle]="{backgroundColor: getColor()}">{{"Server"}} with {{serverId}} is {{getServerStatus()}}</p>

<!-- 
    -----Data Binding-------
             |
             |
    -----------------------------------------------------------------------   
    |                        |                         |                |
    \/                      \/                         \/               \/
    String                  PropertyBinding          Event Bindng      Two way data binding
    Interpolation
    
    Rules:
    
    1. For String Interpolation:
       Synatx: {{ any expression that resolves to a string }}
    
        i.    {{ any function call that returns a string or a variable that store some string, }}
                Any thing that can be converted to a string will work, (In our example, though serverId is a number, it will work.)
        ii.   You can't write multiline expression inside these {{}}
        iii.  You can't write block expressions like a If block or For loop here
        iv.   You can write ternary expression though.
 -->


  <!--
    ngIf is a structural directive which decided whether a element should be a part of the DOM or not.

    The other type of directive Angular provides is: attribute directive.

    They are called so, because they just look like a normal HTML attribute without a star basically.

    Attribute directive don't add or remove elements. They only change the element they were placed on.

    The [] around ngStyle is not a part of ngStyle directive. The [] here indicates that we want to bind to some property on this directive.

    And ngStyle directive has a property named as ngStyle as well. So we want to bind some value to ngStyle property of ngStyle directive.

    It's value expects as an object.

    So, ngStyle allows us to dynamically change the color based on value of serverStatus.

    If serverStatus changes over time, it's bgColor will also change dynamically based on the value. 
 -->